
<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partial/head %>
  <title>Knowledge Q&A Dashboard Template</title>
</head>

<body>
  <!-- =-=-=-=-=-=-= PRELOADER =-=-=-=-=-=-= -->
  <div class="preloader"><span class="preloader-gif"></span>
  </div>
  <% include ../partial/header %>

  <!-- =-=-=-=-=-=-= Main Area =-=-=-=-=-=-= -->
  <div class="main-content-area">
    <!-- =-=-=-=-=-=-= Login Form =-=-=-=-=-=-= -->
    <div class="col-md-7 col-sm-8 co-xs-12 text-right">
      <h2>Sign In To Your Account</h2>
    </div>
    <section class="section-padding-80 white" id="login">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">

            <div class="box-panel">

              <!-- buttons top -->
              <!-- <a href="#" class="btn btn-default facebook"><i class="fa fa-facebook icons"></i> Sign In with Facebook</a>
              <a href="#" class="btn btn-default google"><i class="fa fa-google-plus icons"></i> Sign In with Google</a> -->
              <!-- end buttons top -->

              <!-- <p class="text-center margin-top-10"><span class="span-line">OR</span>
              </p> -->

              <!-- form login -->
              <form name="frm" id="sign_in" method="POST">
                <div class="form-group">
                  <label style="font-family:zawgyi-one">Email</label>
                  <input type="email" name="email" placeholder="Your Email" class="form-control">
                </div>
                <div class="form-group">
                  <label style="font-family:zawgyi-one">Password</label>
                  <input type="password" name="password" placeholder="Your Password" class="form-control">
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="checkbox flat-checkbox">
                        <label>
                          <input type="checkbox" name="rememberme" id="rememberme">
                          <span class="fa fa-check"></span> Remember me?
                        </label>
                      </div>
                    </div>
                    <div class="col-xs-6 text-right">
                      <p class="help-block"><a data-toggle="modal" href="#myModal">Forgot password?</a>
                      </p>
                    </div>
                  </div>
                </div>

                <button class="btn btn-primary btn-lg btn-block">Log In</button>

              </form>
              <!-- form login -->

            </div>
          </div>

          <div class="clearfix"></div>
        </div>
      </div>
      <!-- end container -->
    </section>
    <!-- =-=-=-=-=-=-= Login Form   End =-=-=-=-=-=-= -->



  </div>
  <!-- =-=-=-=-=-=-= Main Area End =-=-=-=-=-=-= -->

  <% include ../partial/footer %>
  <% include ../partial/script %>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
  <script type="text/javascript">
  $(function () {
      $('#sign_in').validate({
          rules: {
              'terms': {
                  required: true
              },
              'confirm': {
                  equalTo: '[name="password"]'
              }
          },
          highlight: function (input) {
              console.log(input);
              $(input).parents('.form-line').addClass('error');
          },
          unhighlight: function (input) {
              $(input).parents('.form-line').removeClass('error');
          },
          errorPlacement: function (error, element) {
              $(element).parents('.input-group').append(error);
              $(element).parents('.form-group').append(error);
          }
      });


  // when submit
  frm.onsubmit = function(){
    if(frm.rememberme.checked){
      //if checked remember then save cookieParser
      $.cookie("email", frm.email.value, { expires:7});
    }else{
      //else remove cookies
      $.removeCookie("email");
    }
  }

  //on load
  if($.cookie("email")){
    frm.email.value = $.cookie("email");
    frm.rememberme.checked = true;
  }
});

  </script>
</body>

</html>
